@import '_normalize';
@import '_vars';
@import '_fonts';
@import 'smart-grid';
@import 'owl.carousel.min';
@import 'owl.theme.default.min';

//---------common styles ----------------------

h1, h2, h3, h4, p {
	padding: 0px;
	margin: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

//---------for any project --------------------
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container{
	position: relative;
	padding: 0px 15px;
	max-width: 1165px;
	margin: 0 auto;
	overflow: hidden;
	//border: 1px solid red;
}

//---------pageUp ----------------------

.pageUp {
	display: none;
	position: fixed;
	width: 70px;
	height: 50px;
	background: #9428D6FF;
	opacity: 0.4;
	z-index: 10;
	right: 0;
	bottom: 0;
	margin: 0px 30px 30px 0px;
	border-radius: 10px;
	font-size: 46px;
	font-weight: 700;
	text-align: center;
	line-height: 66px;
	cursor: pointer;
	transition: opacity .2s, color .2s;

	&:hover {
		opacity: .7;
		color: $btnColor;
	}

	&:active{
		opacity: .4;
	}
}

*{
	box-sizing: border-box;
}

//---------Header ----------------------

header {	
	padding-bottom: 30px;
	background: url(../imgs/backgroundHeader.png) no-repeat;
	background-size: cover;
	min-height: 698px;
	position: relative;

	&::after{
	content: '';
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	height: 88px;
	width: 100%;
	opacity: 0.23;
	background-color: #ffffff;

	@include md(background-color, #9fcef573);
	@include es(height, 130px);
	@include es(opacity, .4);
	}
}

.navWrapper{
	position: relative;
	display: flex;
	justify-content: space-between;
	min-height: 88px;
	align-items: center;
	z-index: 2;

	@include es(flex-wrap, wrap);
}

.logoNavWrap{
	display: flex;
	justify-content: space-between;
	min-height: 88px;
	align-items: center;
	flex-basis:61%;

	@include lg(flex-basis, 71%);
	@include md(flex-basis, auto);
	@include es(flex-basis, 50%);
}

.logo{
	margin-bottom: 3px;
	font-size: 29px;
	font-family: "Bringin";
	color: $btnColor;
	text-decoration: none;

	p{	
		display: inline;
		margin: 0;
		padding: 0;
		color: $secondColor;
	}		
}

.nav{
	@include md(display, none);
	//@include md(display, flex);
	@include md(position, absolute);
	@include md(width, 100%);
	@include md(height, 400px);
	@include md(top, 88px);
	@include md(background, #9fcef58f);
	@include md(border-radius, 10px);	
	@include md(flex-direction, column);
	@include md(align-items, center);
	@include md(justify-content, space-between);
	@include md(backdrop-filter, blur(10px));
	@include md(z-index, 1);
	@include md(padding, 20px 0px);
	@include es(top, 120px);

	&Link{
		position: relative;
		display: inline-block;
		margin-right: 10px;
		font-family: "OpenSans-Bold";
		font-size: 14px;
		color: $secondColor;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		@include md(width, 100%);
		@include md(text-align, center);
		@include md(margin-right, 0px);
		@include md(font-size, 22px);
		@include md(color, rgb(197, 248, 255));

		&:hover{
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 2px;
				background: $btnColor;
			}
		}
	}
}

.navMob{
	order: 2;
	display: none;	
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 90px;

	@include md(display, flex);
	@include es(order,3);
	@include es(flex-basis, 100%);
	@include es(justify-content, center);

	&:hover{
		cursor: pointer;
	}

	&_Txt{
		font-family: "OpenSans-Bold";
		font-size: 18px;
		text-transform: uppercase;
		color: $secondColor;
	}

	&_lines{
		align-self: stretch;
		display: flex;
		justify-content: space-around;
		flex-direction: column;

		@include es(margin-left, 5px);
		&_li{
			display: inline-block;
			border-radius: 25%;
			width: 25px;
			height: 3px;
			background:$btnColor;
		}
	}	
}

.callBtn{
	padding: 12px 38px;
	border-radius: 4px;
	border: solid 3px $btnColor;
	color: $btnColor;		
	font-family: "Raleway-Bold";
	font-size: 14px;
	letter-spacing: 1.92px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: box-shadow .1s, color 0.1s;

	@include md(order,3);	
	@include xs(padding, 12px 25px);
	@include es(order,2);
	@include es(flex-basis, 50%);	

	&:hover{
		box-shadow: 0px 0px 3px 1px $btnColor;
	}

	&:active{
		box-shadow: 0px 0px 0px 0px $btnColor;
		color: $secondColor;
	}
}

.headerTitleWrapper{
	margin-top: 100px;
	border: 3px solid white;
	padding: 100px 0px 60px 30px;

	@include lge(width, 800px);
	@include lg(width, 100%);
	@include xs(padding, 40px 30px 40px 30px);

	.headerTitle{
		font-family: "OpenSans-Bold";
		font-size: 50px;
		letter-spacing:6px;
		color: white;
		text-transform: uppercase;

		@include sm(font-size, 45px);
		@include xs(font-size, 34px);
		@include es(font-size, 30px);
	}

	.headerTitleExt {
		font-family: "Bringin";
		font-size: 66px;
		line-height: 0.26;
		letter-spacing: 1.32px;
		color: $btnColor;

		@include sm(font-size, 60px);
		@include xs(line-height, 1);
		@include xs(font-size, 50px);
		@include es(font-size, 40px);
	}

	.headerP{
		margin: 32px 0px 0px 0px;
		width: 434px;
		opacity: 0.75;
		font-family: "OpenSans-Regular";
		font-size: 18px;
		line-height: 1.61;
		color: rgba(255, 255, 255, 0.75);
		
		@include xs(font-size, 16px);
		@include xs(width, 100%);
	}

	.headerBtn{
		display: inline-block;
		margin: 30px 0px 0px 0px;
		padding: 23px 73px;
		border-radius: 4px;
		box-shadow: 0 0 35px 0 rgba(3, 3, 3, 0.06);
		background: $btnColor;
		font-family: "Raleway-Bold";
		font-size: 14px;
		letter-spacing: 2.24px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		transition: background .2s;

		@include es(padding, 23px 40px);
		
		&:hover{
			background: #58b6e6;
			text-shadow: #fff 0px 0px 7px;
		}
		
		&:active{
			background: $btnColorActive;
			text-shadow: #fff 0px 0px 0px;
		}
	}
}

/* .headerBorder{
	background: url(../imgs/HeaderBorder.png) no-repeat;
	position: absolute;
	display: none;
	width: 100%;
	min-height: 324px;
	left: 50%;
	top: 50%;
	transform: translate(-29.5%, -39%);
} */


//---------Section 2 ----------------------

.section2{
	position: relative;
		height: 667px;
		background-color: #f6f4f4;
		z-index: 1;
}

.wrapForPoint{	
	overflow-y: hidden;
}

.containerForSec2{
	position: relative;
	padding: 0px 15px;
	max-width: 1165px;
	margin: 0 auto;

	@include sec21440(overflow, hidden)
}

.sec2contentWrapper{
	height: 667px;
}

.worldPoint{
	position: absolute;
	background: url(../imgs/Sec2WorldPoint.png) no-repeat;
	margin-top: 20px;
	margin-left: 85px;
	width: 100%;
	height: 667px;
	z-index: -1;
}

.sec2BlockText{
	margin-top: 250px;
	margin-left: 5px;

	@include md(margin-top, 380px);
	@include sm(margin-left, 30px);
	@include xs(margin-left, 0px);
	@include xs(margin, 380px auto 0px auto);
	
	h2{
		font-family: "OpenSans-Bold";
		font-size: 20px;
		letter-spacing: 2px;
		color: #2c2e37;
		text-transform: uppercase;
	}

	p{
		margin-top: 20px;
		width: 352px;
		font-family: "OpenSans-Regular";
		font-size: 14px;
		line-height: 1.86;
		color: #949494;
		@include xs(width, 100%);
	}

	.btnReadMore{
		display: inline-block;
		margin-top: 25px;
		padding: 13px 24px;
		font-family: "OpenSans-Bold";
		font-size: 12px;
		letter-spacing: 1.44px;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
		border-radius: 4px;
		background-color: $btnColor;

		&:hover{
			background: #58b6e6;
			text-shadow: #fff 0px 0px 7px;
		}
		
		&:active{
			background: $btnColorActive;
			text-shadow: #fff 0px 0px 0px;
		}
	}
}

.sec2SmallPhoto{
	position: absolute;
	width: 350px;
	height: 350px;
	left: 480px;
	top: 280px;
	z-index: 2;

	@include sec21610(left, 400px);
	@include sec21440(top, 330px);
	@include sec21440(left, auto);
	@include sec21440(right, 450px);
	@include sec21440(width, 210px);
	@include sec21440(height, 210px);
	@include lg(right, 350px);
	@include md(width, 280px);
	@include md(height, 280px);
	@include md(top, 360px);
	@include md(right, 70px);
	@include sm(display, none);
}

.sec2BigPhoto{
	position: absolute;
	width: 806px;
	height: 570px;
	left: 566px;
	top: -40px;
	z-index: 1;

	@include sec21610(left, 480px);
	@include sec21440(top, 60px);
	@include sec21440(left, auto);
	@include sec21440(right, 15px);
	@include sec21440(width, 537px);
	@include sec21440(height, 380px);
	@include lg(top, 100px);
	@include lg(height, 285px);
	@include lg(width, 403px);
	@include md(top, 50px);
	@include sm(margin-right, 30px);
	@include xs(right, auto);
	@include xs(left, 50%);
	@include xs(transform, translate(-50%));
}


//---------Section 3 ----------------------

.sec3Title {
	margin-top: 105px;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
	color: #2c2e37;
	text-align: center;
	text-transform: uppercase;
}

.owl-dots{
	position: absolute;
	left: 0;
	right: 0;
}

.WrapJournal{
	position: relative;
	margin: 75px 0px 90px 0px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 10px 1px #08537993;

	@include md(flex-wrap, wrap);
	@include md(width, 83%);
	@include md(margin, 75px 0px 90px 50%);
	@include md(transform, translate(-50%));

	@include sm(width, 98%);

	@include xs(width, 378px);

	@include es(width, 100%);
}

//pair of journalPair_Single
.journalPair{
	flex-basis: 378px;
	display: flex;
	flex-direction: column;
	max-width: 378px;
	overflow: hidden;

	@include md(flex-direction, row);
	@include md(flex-basis, 100%);
	@include md(max-width, 100%);

	@include xs(flex-direction, column);
}

.journalPair-mod{
	flex-direction: row;
	flex-basis: 100%;
	max-width: 100%;
}

//order of journalPhoto and journalDescrip for second items(child) of journalPair
.journalOrder{
	order: 1;

	@include xs(order, 0);
}

//common styles for journalCard and journalPhoto
.journalCart{
	position: relative;
	height: 378px;
	width: 100%;
}

.journalPhoto{
	@extend .journalCart;
	overflow: hidden;
}

.journalDescrip{
	@extend .journalCart;

	&_Title {
		margin-top: 43px;
		font-family: "OpenSans-Bold";
		font-size: 11px;
		letter-spacing: 1.65px;
		text-transform: uppercase;
		text-align: center;
		color:$btnColor;

		@include sm(margin, 25px auto 0px auto);
	}

	&_subTitle {
		margin: 50px auto 0px auto;
		width: 90%;
		font-family: "OpenSans-Bold";
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2.4px;
		line-height: 1.5;
		text-align: center;
		color: #212121;

		@include sm(margin, 25px auto 0px auto);
	}

	&_p {
		margin: 20px auto 0px auto;
		width: 80%;
		font-family: "OpenSans-Regular";
		font-size: 14px;
		line-height: 1.64;
		text-align: center;
		color: #777777;
	}

	&_n{
		position: absolute;
		bottom: 20px;
		left: 50%;
		font-family: sans-serif;
		font-size: 14px;
		font-style: italic;
		text-align: center;
		color: #212121;

		@include sm(bottom, 15px);
	}
}

.icon-journal{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	fill: white;
}

.icon-heart{
	width: 35px;
	height: 35px;
}

.icon-leaf{
	width: 81px;
	height: 81px;
}

.icon-water{
	width: 81px;
	height: 81px;
}

.journalCircle{
	position: absolute;
	left: 50%;
	top: 50%;
	border: 8px solid white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 81px;
	height: 81px;
}

//---------Section 4 ----------------------

.section4{
	padding: 190px 0px 236px 0px;
	background: url(/source/imgs/Sec4Background.png) no-repeat;	
}

.sec4_title {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  letter-spacing: 2px;
	color: #2c2e37;
	text-transform: uppercase;
}

.sec4_subtitle {
	margin-top: 20px;
  font-family: "OpenSans-Regular";
  font-size: 16px;
	line-height: 1.63;
	color: $secondColor;
	//to set width
	max-width: 65%;

	@include xs(max-width, 100%);
}

.sec4_orderWrap {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
  max-width: 855px;
  min-height: 62px;
  border-radius: 4px;
	background-color: #fff;

	@include md(flex-wrap, wrap);
	@include xs(background-color, inherit);

	&::after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;		
		width: 2px;
		height: 35px;
		top: 13px;
		left: 36.4%;
		background: #ebebeb;
		//background: black;
		@include sm(left, 50.2%);
		@include xs(display, none);
	}
	
	input{
		box-sizing: border-box;
		flex-basis: 36.2%;
		height: 56px;
		font-family: "OpenSans-Regular";
		letter-spacing: 0.32px;
		padding: 10px 25px;
		font-size: 16px;
		outline: none;
		border: none;
		color: #212121;

		@include sm(flex-basis, 50%);
		@include xs(flex-basis, 100%);
		@include xs(margin-top, 2px);
	}

	.sec4_btnOrder{
		display: inline-block;
		line-height: 56px;
		width: 26.5%;
		height: 90.3%;
		border-radius: 4px;
		box-shadow: 0 0 35px 0 rgba(3, 3, 3, 0.06);
		background: $btnColor;
		font-family: "OpenSans-Bold";
		font-size: 16px;
		letter-spacing: 1.6px;
		text-align: center;
		color: #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		transition: background .2s;

		//@include sm(font-size, 14px);
		//@include xs(display, block);
		@include sm(flex-basis, 100%);
		
		&:hover{
			background: #58b6e6;
			text-shadow: #fff 0px 0px 7px;
		}
		
		&:active{
			background: $btnColorActive;
			text-shadow: #fff 0px 0px 0px;
		}
	}
}

.noteWrap{
	margin-top: 15px;
	color: $btnColor;

	.icon-lock {
		width: 14px;
		height: 16px;
		fill: $btnColor;
	}

	.sec4_note{
		display: inline-block;
		font-family: "OpenSans-Regular";
		font-size: 14px;
		vertical-align: 2px;
		letter-spacing: 0.28px;
	}
}

//---------Section 5 ----------------------

.section5{
	padding: 110px 0px 100px 0px;
}

.sec5_title {
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
	color: #2c2e37;
	text-transform: uppercase;
	text-align: center;
}

.sec5_content{
	position: relative;
	margin-top: 70px;
	display: flex;
	justify-content: space-around;

	@include md(justify-content, space-between);
	
	&::after{
		display: block;
		position: absolute;
		content: '';
		left: 11.5%;
		top: 22px;
		width: 77%;
		height: 2px;
		background: #f0f3f6;
		z-index: -1;
	}
}

.sec5Col{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-basis: 205px;
	min-height: 410px;

	@include md(flex-basis, 179px);

	&_number {
		position: relative;
		background: #fff;
		width: 48px;
		height: 48px;
		border: solid 3px $btnColor;
		border-radius: 50%;
		text-align-last: center;
		line-height: 41px;

		&::after{
			display: block;
			position: absolute;
			content: url(/source/imgs/Sec5DottedLine.png);
			top: 48px;
			left: 20px;
		}
	}

	&_circle {
		margin-top: 20px;
		position: relative;
		width: 179px;
		height: 179px;
		background-color: #f0f3f6;
		border-radius: 50%;
	}

	.icon-hexagonal {
		margin-top: 50%;
		margin-left: 50%;
		transform: translate(-50%, -50%) rotate(30deg);
		width: 125px;
		height: 140px;
		filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, .19));
		fill: #fff;
	}

	.sec5Icon{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		fill: #404041;
	}

	.sec5Col_text{
		
		&-t {
			font-family: "Roboto-Black";
			font-size: 18px;
			text-align: center;
			color: #2c2e37;
		}

		&-sbt{
			font-family: "Roboto-Light";
			font-size: 16px;
			line-height: 1.5;
			text-align: center;
			color: #949494;
		}
	}
}

//---------Section 6 ----------------------

.section6{
	padding: 0px 0px 0px 0px;
	background: url(/source/imgs/Sec6Background.png) no-repeat;
	height: 1002px;
	background-size: 1920px 802px;
	background-position: bottom;
}

.forDotsWorld{
	background: url(/source/imgs/Sec6WorlMapDots.png) no-repeat;
	background-size: 1469px 733px;
	max-width: 1469px;
	//max-height: 733px;
	margin: 0 auto;
}

.section6_tittle {
	margin-top: 30px;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;

	@include es(font-size, 26px);
}

.section6_content{
	display: flex;
	justify-content: space-between;
	margin-top: 95px;
}

.sec6Card{
	position: relative;
	flex-basis: 200px;
	height: 382px;
	cursor: pointer;

	&_background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&_starsSvg{
		position: relative;
		margin: 15px 0px 0px 20px;
		
		.sec6Icon {
			display: inline-block;
			width: 16px;
			height: 16px;			
			fill: #ffffff;
		}
	}

	&_text{
		position: relative;
		margin: 100px 0px 0px 20px;
		max-width: 80%;

		&-t{
			font-family: "OpenSans-Regular";
			font-size: 28px;
			line-height: 2.25;
			color: #ffffff;
		}

		&-sbt{
			font-family: "OpenSans-Regular";
			font-size: 16px;
			line-height: 1.38;
			text-align: right;
			color: #ffffff;
		}
	}

	&_footer{
		position: relative;
		margin: 95px 0px 0px 20px;

		.sec6OldPrace{
			display: inline-block;
			font-family: "OpenSans-Regular";
			font-size: 18px;
			color: #ffffff;
			vertical-align: middle;
			text-decoration: line-through;
		}

		.sec6NewPrace{
			display: inline-block;
			font-family: "OpenSans-Bold";
			font-size: 26px;
			color: #ffffff;
			vertical-align: middle;
			margin-left: 20%;
		}
	}
}

//---------Section 7 ----------------------
.section7{
	padding: 120px 0px 80px 0px;
}

.section7_tittle{
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;
}

.section7_content{
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.sec7Pair{
	text-align: center;
	opacity: .85;
}

.bottomPicture{
	margin-top: 10px;
}

//---------Section 8 ----------------------

.section8{
	background-color: #f8f9fa;
	padding: 80px 0px 80px 0px;

	@include es(padding, 10px 0px 10px 0px);
}

.section8_content{
	display: flex;
	justify-content: space-between;

	@include es(flex-direction, column);
	@include es(align-items, center);
}

.sec8Item{
	display: inline-block;
	height: 26px;
	color: #CBCCCD;
	font-family: "Roboto-Bold";
	font-size: 22px;
	cursor: pointer;

	@include xs(height, 18px);
	@include xs(font-size, 16px);
	@include es(margin, 10px);
}

.sec8Icon{
	height: 26px;
	width: 26px;
	fill: #CBCCCD;
	vertical-align: middle;

	@include xs(height, 18px);
	@include xs(width, 18px);
}

.sec8NikeIcon{
	height: 50px;
	width: 50px;
	margin-top: -5px;
	@include xs(height, 30px);
	@include xs(width, 30px);
}

.sec8TextIcon{
	display: inline-block;
	vertical-align: middle;
}

//---------Section 9 ----------------------

.section9{
	padding: 90px 0px 0px 0px;
	background: url(/source/imgs/Sec9Background.png) no-repeat;
	min-height: 1270px;
	background-size: 1920px 1130px;
	background-position: bottom;

	@include es(padding, 90px 0px 50px 0px);
}

.section9_tittle{
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;

	@include xs(font-size, 26px);
}

.sec9Comments{
	display: flex;
	justify-content: space-around;
	margin-top: 90px;

	@include xs(flex-direction, column);
}

.sec9Comment{
	flex-basis: 46.5%;

	@include xs(margin-top, 15px);
	
	.sec9Icon-quote{
		width: 24px;
		height: 22px;
		fill: #bcbcbc;
		line-height: 0.36;

		@include sm(fill, #6d5353);
	}

	&_text{
		font-family: "OpenSans-Regular";
		font-size: 18px;
		line-height: 1.83;
		text-align: justify;
		color: #bcbcbc;

		@include sm(font-size, 15px);
		@include sm(line-height, 1.7);
		@include sm(color, #835454);
	}

	&_person{
		margin-top: 25px;

		@include sm(background, rgba(255, 255, 255, 0.76));
		@include sm(border-radius, 10px);

		&_avatar{
			display: inline-block;
			vertical-align: middle;
			width: 64px;
			height: 64px;

			@include sm(width, 40px);
			@include sm(height, 40px);

			img{
				width: 100%;
				height: 100%;
			}
		}

		&_name{
			display: inline;
			vertical-align: middle;
			margin-left: 20px;
			font-family: "OpenSans-Bold";
			font-size: 16px;
			text-align: justify;
			color: $btnColor;

			@include sm(font-size, 13px);
			@include sm(margin-left, 5px);

			span{
				font-family: "OpenSans-Light";
			}
		}
	}
}

.sec9Form{
	margin: 140px auto 0px auto;
	padding: 40px 30px;
	backdrop-filter: blur(40px);
	border-radius: 8px;
  box-shadow: 0px 7px 40px 0 rgba(0, 0, 0, 0.4);
	width: 514px;
	height: 496px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	@include sm(width, 75%);
	@include xs(width, 100%);
	@include es(margin-top, 80px);

	&_title{
		font-family: "OpenSans-Bold";
		font-size: 36px;
		letter-spacing: 3.6px;
		color: #36aeea;
		text-transform: uppercase;

		p{
			font-family: "OpenSans-Regular";
			font-size: 16px;
			line-height: 1.81;
			color: #383e4a;
			letter-spacing:normal;
			text-transform: none;
		}
	}

	input{
		padding: 0px 15px 0px 15px;
		font-family: "Roboto-Regular";
		font-size: 18px;
		width: 100%;
		height: 60px;
		border-radius: 4px;
		border: none;
		outline: none;
		

		&::placeholder{
			color: #cccccc;
		}

		&:focus{
			box-shadow: 0px 0px 10px 2px $btnColor;
		}
	}

	.sec9Form_btn{
		display: inline-block;
		width: 100%;
		height: 70px;
		font-family: "OpenSans-Bold";
		font-size: 16px;
		letter-spacing: 2.56px;
		text-transform: uppercase;
		text-decoration: none;
		line-height: 70px;
		color: #ffffff;
		border-radius: 4px;
		background-color: $btnColor;

		&:hover{
			background: #58b6e6;
			text-shadow: #fff 0px 0px 7px;
		}
		
		&:active{
			background: $btnColorActive;
			text-shadow: #fff 0px 0px 0px;
		}
	}
}

//---------Footer ----------------------

footer{
	background: #3E5E69;
}

.footerWrap{
	display: flex;
	height: 80px;
	justify-content: space-between;
	align-items: center;

	@include es(flex-direction, column);
}

.copyright{
	display: inline-block;
	vertical-align: middle;
  mix-blend-mode: overlay;
  font-family: "OpenSans-Regular";
  font-size: 18px;
	color: #ffffff;
	left: 0;

	@include xs(font-size, 14px);
	@include es(order, 3);
	@include es(font-size, 12px);
}

.footerIcons{
	display: inline-block;
	vertical-align: middle;

	.footerIcon{
		width: 41px;
		height: 41px;
		background: #fff;
		
		@include xs(width, 30px);
		@include xs(height, 30px);

		&-twitter{
			fill: #29c5f6;
		}

		&-facebook{
			fill:#6788ce;
		}

		&-vk{
			fill: #54769a;
		}
	}
}

.footerNumber{
	display: inline-block;
	vertical-align: middle;
  mix-blend-mode: overlay;
  font-family: "Roboto-Black";
  font-size: 27px;
	color: #ffffff;
	
	@include md(font-size, 20px);
	@include xs(font-size, 15px);
	@include es(font-size, 16px);
}