@import '_normalize';
@import '_vars';
@import '_fonts';
@import 'smart-grid';
@import 'owl.carousel.min';
@import 'owl.theme.default.min';

//---------common styles ----------------------

h1, h2, h3, h4, p {
	padding: 0px;
	margin: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

//---------for any project --------------------
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container{
	position: relative;
	padding: 0px 15px;
	max-width: 1165px;
	margin: 0 auto;
	overflow: hidden;
	//border: 1px solid red;
}

//---------pageUp ----------------------

.pageUp {
	display: none;
	position: fixed;
	width: 70px;
	height: 50px;
	background: #9428D6FF;
	opacity: 0.4;
	z-index: 10;
	right: 0;
	bottom: 0;
	margin: 0px 30px 30px 0px;
	border-radius: 10px;
	font-size: 46px;
	font-weight: 700;
	text-align: center;
	line-height: 66px;
	cursor: pointer;
	transition: opacity .2s, color .2s;

	&:hover {
		opacity: .7;
		color: $btnColor;
	}

	&:active{
		opacity: .4;
	}
}

*{
	box-sizing: border-box;
}

//---------Header ----------------------

.header {	
	padding-bottom: 30px;
	background: url(../imgs/backgroundHeader.png) no-repeat;
	background-size: cover;
	min-height: 698px;
	position: relative;

	&::after{
	content: '';
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	height: 88px;
	width: 100%;
	opacity: 0.23;
	background-color: #ffffff;

	@include md(background-color, #9fcef573);
	@include xxs(height, 130px);
	@include xxs(opacity, .4);
	}
}

.header__navWrap{
	position: relative;
	display: flex;
	justify-content: space-between;
	min-height: 88px;
	align-items: center;
	z-index: 2;

	@include xxs(flex-wrap, wrap);
}

.header__logoAndMenuWrap{
	display: flex;
	justify-content: space-between;
	min-height: 88px;
	align-items: center;
	flex-basis:61%;

	@include lg(flex-basis, 71%);
	@include md(flex-basis, auto);
	@include xxs(flex-basis, 50%);
}

.header__logo{
	margin-bottom: 3px;
}

.logo{	
	font-size: 29px;
	font-family: "Bringin";
	color: $btnColor;
	text-decoration: none;

	p{	
		display: inline;
		margin: 0;
		padding: 0;
		color: $secondColor;
	}		
}

.header__navigation{
	top: 88px;
	padding: 20px 0px;
}

.navigation{
	@include md-block{
		display: none;
		position: absolute;	
		width: 100%;
		height: 400px;		
		background: #9fcef58f;
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		backdrop-filter: blur(10px);
		z-index: 1;		
	}

	@include xxs(top, 120px);

	&__link{
		position: relative;
		display: inline-block;
		margin-right: 10px;
		font-family: "OpenSans-Bold";
		font-size: 14px;
		color: $secondColor;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		@include md-block{
			width: 100%;
			text-align: center;
			margin-right: 0px;
			font-size: 22px;
			color: rgb(197, 248, 255);
		}

		&:hover{
			&::after{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 2px;
				background: $btnColor;
			}
		}
	}
}

.mobileNav{
	order: 2;
	display: none;	
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 90px;

	@include md(display, flex);

	@include xxs-block{
		order: 3;
		flex-basis: 100%;
		justify-content: center;
	}

	&:hover{
		cursor: pointer;
	}

	&__title{
		font-family: "OpenSans-Bold";
		font-size: 18px;
		text-transform: uppercase;
		color: $secondColor;
	}

	&__burger{
		align-self: stretch;
		display: flex;
		justify-content: space-around;
		flex-direction: column;

		@include xxs(margin-left, 5px);
	}

	&__line{
		display: inline-block;
		border-radius: 25%;
		width: 25px;
		height: 3px;
		background:$btnColor;
	}
}

.callBtn{
	padding: 12px 38px;
	border-radius: 4px;
	border: solid 3px $btnColor;
	color: $btnColor;		
	font-family: "Raleway-Bold";
	font-size: 14px;
	letter-spacing: 1.92px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: box-shadow .1s, color 0.1s;

	@include md(order,3);	
	@include xs(padding, 12px 25px);
	@include xxs(order,2);
	@include xxs(flex-basis, 50%);	

	&:hover{
		box-shadow: 0px 0px 3px 1px $btnColor;
	}

	&:active{
		box-shadow: 0px 0px 0px 0px $btnColor;
		color: $secondColor;
	}
}

.header__contentWrap{
	margin-top: 100px;
	border: 3px solid white;
	padding: 100px 0px 60px 30px;

	@include lge(width, 800px);
	@include lg(width, 100%);
	@include xs(padding, 40px 30px 40px 30px);
}

.header__title1{
	font-family: "OpenSans-Bold";
	font-size: 50px;
	letter-spacing:6px;
	color: white;
	text-transform: uppercase;

	@include sm(font-size, 45px);
	@include xs(font-size, 34px);
	@include xxs(font-size, 30px);
}

.header__title2{
	font-family: "Bringin";
	font-size: 66px;
	line-height: 0.26;
	letter-spacing: 1.32px;
	color: $btnColor;

	@include sm(font-size, 60px);
	@include xs(line-height, 1);
	@include xs(font-size, 50px);
	@include xxs(font-size, 40px);
}

.header__subtitle{
	margin: 32px 0px 0px 0px;
	width: 434px;
	opacity: 0.75;
	font-family: "OpenSans-Regular";
	font-size: 18px;
	line-height: 1.61;
	color: rgba(255, 255, 255, 0.75);
	
	@include xs(font-size, 16px);
	@include xs(width, 100%);
}

.header__mainBtn{
	margin: 30px 0px 0px 0px;
	padding: 23px 73px;

	@include xxs(padding, 23px 40px);
}

.mainBtn{
	display: inline-block;	
	border-radius: 4px;
	box-shadow: 0 0 35px 0 rgba(3, 3, 3, 0.06);
	background: $btnColor;
	font-family: "Raleway-Bold";
	font-size: 14px;
	letter-spacing: 2.24px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .2s;	
	
	&:hover{
		background: #58b6e6;
		text-shadow: #fff 0px 0px 7px;
	}
	
	&:active{
		background: $btnColorActive;
		text-shadow: #fff 0px 0px 0px;
	}
}


//---------Section 2 ----------------------

.ourStory{
	position: relative;
		height: 667px;
		background-color: #f6f4f4;
		z-index: 1;
}

.ourStory__container{
	position: relative;
	padding: 0px 15px;
	max-width: 1165px;
	margin: 0 auto;

	@include sec21440(overflow, hidden)
}

.pointBackground{	
	overflow-y: hidden;

	&__worldPoint{
		position: absolute;
		background: url(../imgs/Sec2WorldPoint.png) no-repeat;
		margin-top: 20px;
		margin-left: 85px;
		width: 100%;
		height: 667px;
		z-index: -1;
	}
}

.ourStory__contentWrap{
	height: 667px;
}

.ourStory__info{
	margin-top: 250px;
	margin-left: 5px;

	@include md(margin-top, 380px);
	@include sm(margin-left, 30px);
	@include xs(margin-left, 0px);
	@include xs(margin, 380px auto 0px auto);

	.btnReadMore{
		display: inline-block;
		margin-top: 25px;
		padding: 13px 24px;
		font-family: "OpenSans-Bold";
		font-size: 12px;
		letter-spacing: 1.44px;
		text-transform: uppercase;
		text-decoration: none;
		color: #ffffff;
		border-radius: 4px;
		background-color: $btnColor;

		&:hover{
			background: #58b6e6;
			text-shadow: #fff 0px 0px 7px;
		}
		
		&:active{
			background: $btnColorActive;
			text-shadow: #fff 0px 0px 0px;
		}
	}
}

.ourStory__title{
	font-family: "OpenSans-Bold";
	font-size: 20px;
	letter-spacing: 2px;
	color: #2c2e37;
	text-transform: uppercase;
}

.ourStory__subtitle{
	margin-top: 20px;
	width: 352px;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	line-height: 1.86;
	color: #949494;
	@include xs(width, 100%);
}

.ourStory__smallPhoto{
	position: absolute;
	width: 350px;
	height: 350px;
	left: 480px;
	top: 280px;
	z-index: 2;

	@include sec21610(left, 400px);

	@include sec21440-block{
		top: 330px;
		left: auto;
		right: 450px;
		width: 210px;
		height: 210px;
	}

	@include lg(right, 350px);

	@include md-block{
		width: 280px;
		height: 280px;
		top: 360px;
		right: 70px;
	}

	@include sm(display, none);
}

.ourStory__bigPhoto{
	position: absolute;
	width: 806px;
	height: 570px;
	left: 566px;
	top: -40px;
	z-index: 1;

	@include sec21610(left, 480px);

	@include sec21440-block{
		top: 60px;
		left: auto;
		right: 15px;
		width: 537px;
		height: 380px;
	};

	@include lg-block{
		top: 100px;
		height: 285px;
		width: 403px;
	}
	
	@include md(top, 50px);
	@include sm(margin-right, 30px);

	@include xs-block{
		right: auto;
		left: 50%;
		transform: translate(-50%);
	}
}


//---------Section 3 ----------------------

.ourJournal__title {
	margin-top: 105px;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
	color: #2c2e37;
	text-align: center;
	text-transform: uppercase;
}

.journalDotsForOwl{
	@extend .owl-dots;
	position: absolute;
	left: 0;
	right: 0;
}

.ourJournal__journalWrap{
	position: relative;
	margin: 75px 0px 90px 0px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 0px 10px 1px #08537993;

	@include md-block{
		flex-wrap: wrap;
		width: 83%;
		margin: 75px 0px 90px 50%;
		transform: translate(-50%);
	}

	@include sm(width, 98%);
	@include xs(width, 378px);
	@include xxs(width, 100%);
}

//pair of journalPair_Single
.journalPair{
	flex-basis: 378px;
	display: flex;
	flex-direction: column;
	max-width: 378px;
	overflow: hidden;

	@include md-block{
		flex-direction: row;
		flex-basis: 100%;
		max-width: 100%;
	}

	@include xs(flex-direction, column);
}

.journalPair-mod{
	flex-direction: row;
	flex-basis: 100%;
	max-width: 100%;
}

//order of journalPhoto and journalDescrip for second items(child) of journalPair
.journalOrder{
	order: 1;

	@include xs(order, 0);
}

//common styles for journalCard and journalPhoto
.journalCart{
	position: relative;
	height: 378px;
	width: 100%;
}

.journalPair__photo{
	@extend .journalCart;
	overflow: hidden;

	img{
		@include xs(height, 378px);
		@include xs(width, 378px);
	}
}

.journalPair__description{
	@extend .journalCart;
}

.journalPair__title {
	margin-top: 43px;
	font-family: "OpenSans-Bold";
	font-size: 11px;
	letter-spacing: 1.65px;
	text-transform: uppercase;
	text-align: center;
	color:$btnColor;

	@include sm(margin, 25px auto 0px auto);
}

.journalPair__subTitle {
	margin: 50px auto 0px auto;
	width: 90%;
	font-family: "OpenSans-Bold";
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2.4px;
	line-height: 1.5;
	text-align: center;
	color: #212121;

	@include sm(margin, 25px auto 0px auto);
}

.journalPair__text {
	margin: 20px auto 0px auto;
	width: 80%;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	line-height: 1.64;
	text-align: center;
	color: #777777;
}

.journalPair__number{
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-family: sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	color: #212121;

	@include sm(bottom, 15px);
}

.icon-journal{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	fill: white;
}

.icon-heart{
	width: 35px;
	height: 35px;
}

.icon-leaf{
	width: 81px;
	height: 81px;
}

.icon-water{
	width: 81px;
	height: 81px;
}

.journalCircle{
	position: absolute;
	left: 50%;
	top: 50%;
	border: 8px solid white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	width: 81px;
	height: 81px;
}

//---------Section 4 ----------------------

.orderSection{
	padding: 190px 0px 236px 0px;
	background: url(../imgs/Sec4Background.png) no-repeat;	
}

.orderSection__title {
  font-family: "OpenSans-Bold";
  font-size: 20px;
  letter-spacing: 2px;
	color: #2c2e37;
	text-transform: uppercase;
}

.orderSection__subtitle {
	margin-top: 20px;
  font-family: "OpenSans-Regular";
  font-size: 16px;
	line-height: 1.63;
	color: $secondColor;
	//to set width
	max-width: 65%;

	@include xs(max-width, 100%);
}

.orderForm {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
  max-width: 855px;
  min-height: 62px;
  border-radius: 4px;
	background-color: #fff;

	@include md(flex-wrap, wrap);
	@include xs(background-color, inherit);

	&::after{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;		
		width: 2px;
		height: 35px;
		top: 13px;
		left: 36.4%;
		background: #ebebeb;
		//background: black;
		@include sm(left, 50.2%);
		@include xs(display, none);
	}
	
	.orderForm__inp{
		box-sizing: border-box;
		flex-basis: 36.2%;
		height: 56px;
		font-family: "OpenSans-Regular";
		letter-spacing: 0.32px;
		padding: 10px 25px;
		font-size: 16px;
		outline: none;
		border: none;
		color: #212121;

		@include sm(flex-basis, 50%);
		@include xs(flex-basis, 100%);
		@include xs(margin-top, 2px);
	}

	.orderForm__btn{
		line-height: 56px;
		width: 26.5%;
		height: 90.3%;		
		font-family: "OpenSans-Bold";
		font-size: 16px;
		letter-spacing: 1.6px;

		@include sm(flex-basis, 100%);
	}
}

.orderSection__note{
	margin-top: 15px;
	color: $btnColor;

	.icon-lock {
		width: 14px;
		height: 16px;
		fill: $btnColor;
	}
}

.orderSection__info{
	display: inline-block;
	font-family: "OpenSans-Regular";
	font-size: 14px;
	vertical-align: 2px;
	letter-spacing: 0.28px;
}

//---------Section 5 ----------------------

.workSchemeSection{
	padding: 110px 0px 100px 0px;
}

.workSchemeSection__title{
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
	color: #2c2e37;
	text-transform: uppercase;
	text-align: center;
}

.workSchemeSection__scheme{
	margin-top: 70px;

	@include xs-block{
		padding: 0px 0px 30px 0px;
		width: 90%;
		margin: 70px auto 0px auto;
	}
}

.workScheme{
	position: relative;	
	display: flex;
	justify-content: space-around;

	@include md(justify-content, space-between);
	@include sm(flex-wrap, wrap);
	
	&::after{
		display: block;
		position: absolute;
		content: '';
		left: 11.5%;
		top: 22px;
		width: 77%;
		height: 2px;
		background: #f0f3f6;
		z-index: -1;

		@include sm(top, 52.5%);
		@include xs(display, none);
	}

	&__step{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-basis: 205px;
		min-height: 410px;
		text-align: center;
	
		@include md(flex-basis, 179px);
	
		@include sm(flex-basis, 50%);
		@include sm(margin-top, 50px);
	}

	&__number {
		position: relative;
		background: #fff;
		width: 48px;
		height: 48px;
		border: solid 3px $btnColor;
		border-radius: 50%;
		text-align-last: center;
		line-height: 41px;
	
		&::after{
			display: block;
			position: absolute;
			content: url(../imgs/Sec5DottedLine.png);
			top: 48px;
			left: 20px;
		}
	}

	&__circle {
		margin-top: 20px;
		position: relative;
		width: 179px;
		height: 179px;
		background-color: #f0f3f6;
		border-radius: 50%;
	}

	&__hexagonal {
		transform: rotate(30deg); 
		display: inline-block;
		vertical-align: -145px;
		width: 125px;
		height: 140px;
		filter: drop-shadow( 0px 5px 5px rgba(0, 0, 0, .19));
		fill: #fff;
	}

	&__icon{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		fill: #404041;
	}

	&__info{
			
	}

	&__title {
		font-family: "Roboto-Black";
		font-size: 18px;
		text-align: center;
		color: #2c2e37;
	}

	&__subtitle{
		font-family: "Roboto-Light";
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: #949494;
	}
}

.sec5dotsForOwl{
	@extend .owl-dots;
	position: absolute;
	right: 0;
	left: 0;
}

//---------Section 6 ----------------------

.travelDirection{
	padding: 0px 0px 0px 0px;
	background: url(../imgs/Sec6Background.png) no-repeat;
	height: 1002px;
	background-size: 1920px 802px;
	background-position: bottom;
}

.travelDirection__dotsBackground{
	background: url(../imgs/Sec6WorlMapDots.png) no-repeat;
	background-size: 1469px 733px;
	max-width: 1469px;
	//max-height: 733px;
	margin: 0 auto;
}

.travelDirection__tittle {
	margin-top: 30px;
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;

	@include xxs(font-size, 26px);
}

.travelDirection__directions{
	margin-top: 95px;
	@include lg(padding, 0px 0px 40px 0px);
}

.travelDirections{
	display: flex;
	justify-content: space-between;	
}

.sec6dotsForOwl{
	@extend .owl-dots;
	position: absolute;
	right: 0;
	left: 0;
}

.directionCard{
	position: relative;
	flex-basis: 200px;
	max-width: 200px;
	height: 382px;
	cursor: pointer;

	@include lg(margin, 0 auto);
	@include lg(padding, 10px 0px 0px 10px);

	&__background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__stars{
		position: relative;
		margin: 15px 0px 0px 20px;
		
		@include lg(margin, 0px 0px 0px 0px);
	}

	&__star {
		display: inline-block;
		width: 16px;
		height: 16px;			
		fill: #ffffff;
	}

	&__info{
		position: relative;
		margin: 100px 0px 0px 20px;
		max-width: 80%;

		@include lg(margin, 100px 0px 0px 0px);
	}

	&__title{
		font-family: "OpenSans-Regular";
		font-size: 28px;
		line-height: 2.25;
		color: #ffffff;
	}

	&__subtitle{
		font-family: "OpenSans-Regular";
		font-size: 16px;
		line-height: 1.38;
		text-align: left;
		color: #ffffff;
	}

	&__price{
		position: absolute;
		display: block;
		bottom: 15px;
		width: 90%;
		left: 5%;
	}

	&__oldPrice{
		position: relative;
		display: inline-block;
		width: 49%;
		font-family: "OpenSans-Regular";
		font-size: 18px;
		color: #ffffff;
		vertical-align: middle;
		text-decoration: line-through;
	}

	&__currentPrice{
		position: relative;
		display: inline-block;
		width: 48%;
		font-family: "OpenSans-Bold";
		font-size: 26px;
		color: #ffffff;
		vertical-align: middle;
		text-align: right;
	}
}

//---------Section 7 ----------------------
.sectionGallery{
	padding: 120px 0px 80px 0px;
}

.sectionGallery__tittle{
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;
}

.sectionGallery__gallery{
	margin: 80px -10px 0px -10px;
	@include sm-block{
		display: block;
		margin: 80px 0px 0px 0px;
		padding: 0px 0px 30px 0px;
	}
}

.customerGallery{
	position: relative;
	display: flex;
	justify-content: space-between;
	width: auto;

	@include md(justify-content, center);
}

.sec7dotsForOwl{
	@extend .owl-dots;
	position: absolute;
	left: 0;
	right: 0;
}

.customerGallery__pair{
	text-align: center;
	opacity: .85;
	overflow: hidden;
	margin: 0px 10px 0px 10px;

	@include sm(margin, 0px 0px 0px 0px);
	

	img{
		@include md(width, 100%);
		@include sm(width, auto !important);
		@include sm(margin, 10px auto !important);
	}
}

.customerGallery__bottomPicture{
	margin-top: 10px;
}

//---------Section 8 ----------------------

.brandsSection{
	background-color: #f8f9fa;
	padding: 80px 0px 80px 0px;

	@include xxs(padding, 10px 0px 10px 0px);
}

.brandsSection__brands{
	display: flex;
	justify-content: space-between;

	@include xxs(flex-direction, column);
	@include xxs(align-items, center);
}

.brandsSection__brand{
	display: inline-block;
	height: 26px;
	color: #CBCCCD;
	font-family: "Roboto-Bold";
	font-size: 22px;
	cursor: pointer;

	@include xs(height, 18px);
	@include xs(font-size, 16px);
	@include xxs(margin, 10px);
}

.brandsSection__icon{
	height: 26px;
	width: 26px;
	fill: #CBCCCD;
	vertical-align: middle;

	@include xs(height, 18px);
	@include xs(width, 18px);
}

.brandsSection__icon_nike{
	height: 50px;
	width: 50px;
	margin-top: -8px;
	@include xs(height, 30px);
	@include xs(width, 30px);
}

.brandsSection__iconText{
	display: inline-block;
	vertical-align: middle;
}

//---------Section 9 ----------------------

.sectionContacts{
	padding: 90px 0px 0px 0px;
	background: url(../imgs/Sec9Background.png) no-repeat;
	min-height: 1270px;
	background-size: 1920px 1130px;
	background-position: bottom;

	@include xxs(padding, 90px 0px 50px 0px);
}

.sectionContacts__tittle{
  font-family: "OpenSans-Bold";
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
	color: #2c2e37;
	text-transform: uppercase;

	@include xs(font-size, 26px);
}

.sectionContacts__customerReviews{
	display: flex;
	justify-content: space-around;
	margin-top: 90px;

	@include xs(flex-direction, column);
}

.sectionContacts__customerReview{
	@include xs(margin-top, 15px);
}

.customerReview{
	flex-basis: 46.5%;
	
	&__quote{
		width: 24px;
		height: 22px;
		fill: #bcbcbc;
		line-height: 0.36;

		@include sm(fill, #6d5353);
	}

	&__review{
		font-family: "OpenSans-Regular";
		font-size: 18px;
		line-height: 1.83;
		text-align: justify;
		color: #bcbcbc;

		@include sm-block{
			font-size: 15px;
			line-height: 1.7;
		}
	}

	&__person{
		margin-top: 25px;

		@include sm(background, rgba(255, 255, 255, 0.76));
		@include sm(border-radius, 10px);
	}

	&__avatar{
		display: inline-block;
		vertical-align: middle;
		width: 64px;
		height: 64px;

		@include sm(width, 40px);
		@include sm(height, 40px);

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__name{
		display: inline;
		vertical-align: middle;
		margin-left: 20px;
		font-family: "OpenSans-Bold";
		font-size: 16px;
		text-align: justify;
		color: $btnColor;

		@include sm(font-size, 13px);
		@include sm(margin-left, 5px);

		span{
			font-family: "OpenSans-Light";
		}
	}
}

.sectionContacts__contactForm{
	margin: 140px auto 40px auto;
	padding: 40px 30px;

	@include sm(width, 75%);
	@include xs(width, 100%);
	@include xxs(margin-top, 80px);
}

.contactForm{	
	backdrop-filter: blur(40px);
	border-radius: 8px;
  box-shadow: 0px 7px 40px 0 rgba(0, 0, 0, 0.4);
	width: 514px;
	height: 496px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	&__title{
		font-family: "OpenSans-Bold";
		font-size: 36px;
		letter-spacing: 3.6px;
		color: #36aeea;
		text-transform: uppercase;
	}

	&__subtitle{
		font-family: "OpenSans-Regular";
		font-size: 16px;
		line-height: 1.81;
		color: #383e4a;
		letter-spacing:normal;
		text-transform: none;
	}

	&__inp{
		padding: 0px 15px 0px 15px;
		font-family: "Roboto-Regular";
		font-size: 18px;
		width: 100%;
		height: 60px;
		border-radius: 4px;
		border: none;
		outline: none;
		

		&::placeholder{
			color: #cccccc;
		}

		&:focus{
			box-shadow: 0px 0px 10px 2px $btnColor;
		}
	}

	.contactForm__btn{
		width: 100%;
		height: 70px;
		font-family: "OpenSans-Bold";
		font-size: 16px;
		letter-spacing: 2.56px;
		line-height: 70px;
	}
}

//---------Footer ----------------------

.footer{
	background: #3E5E69;

	@include xxs(padding, 15px 0px);
}

.footer__wrap{
	display: flex;
	height: 80px;
	justify-content: space-between;
	align-items: center;

	@include xxs(flex-direction, column);
}

.footer__copyright{
	display: inline-block;
	vertical-align: middle;
  mix-blend-mode: overlay;
  font-family: "OpenSans-Regular";
  font-size: 18px;
	color: #ffffff;
	left: 0;

	@include xs(font-size, 14px);
	@include xxs(order, 3);
	@include xxs(font-size, 12px);
}

.footer__icons{
	display: inline-block;
	vertical-align: middle;
}

.footer__icon{
	width: 41px;
	height: 41px;
	background: #fff;
	cursor: pointer;
	
	@include xs(width, 30px);
	@include xs(height, 30px);
}

.icon-twitter{
	fill: #29c5f6;
}

.icon-facebook{
	fill:#6788ce;
}

.icon-vk{
	fill: #54769a;
}

.footer__number{
	display: inline-block;
	vertical-align: middle;
  mix-blend-mode: overlay;
  font-family: "Roboto-Black";
  font-size: 27px;
	color: #ffffff;
	
	@include md(font-size, 20px);
	@include xs(font-size, 15px);
	@include xxs(font-size, 16px);
}